<a href="https://colab.research.google.com/github/Divyasrilalam/oop-practice/blob/main/practice_1_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 40
sum = 40.5
var1 = " Test"
var2 = True

print(sum,var1,var2)

40.5  Test True

In [ ]:
myName = "IIIT Dharwad"
combination = myName + " " + myName
print(combination)

IIIT Dharwad IIIT Dharwad

In [ ]:
mySite,myBlog = "https://www.hobbybytes.in","https://www.hobbybytes.com"

print(mySite,myBlog)

https://www.hobbybytes.in https://www.hobbybytes.com

In [ ]:
mySite,myBlog = "https://www.hobbybytes.in"
print(mySite,myBlog)

ValueError: ignored

In [ ]:



courseName=" OOP Course"
students=125
credits=4

print(students)
print(courseName)
print(credits)

125
 OOP Course
4

In [ ]:
m = (1 == True)
y = (1 == False)
l = True + 5
m = False + 40

print("m is", m)
print("y is", y)
print("l:", l)
print("m:", m)

m is 40
y is False
l: 6
m: 40

In [ ]:

  food = "Available"
junkfood = None

def menu(x):
    if x == food:
        print(food)
    else:
        print(not available)

menu(food)
menu(junkfood)

IndentationError: ignored

In [ ]:
# Note:  different values for the id

b = 2      # refer to same id

print('id(2) =', id(2))

print('id(b) =', id(b))


b = b+1

print('id(b) =', id(b))

print('id(3) =', id(3))    # refer to different id

id(2) = 94501054081568
id(b) = 94501054081568
id(b) = 94501054081600
id(3) = 94501054081600

In [1]:
def outer_function():
    a = 20

    def inner_function():
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 20
a = 10

In [2]:
def outer_function():
    global a
    a = 20

    def inner_function():
        global a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 30
a = 30

In [3]:
def outer_function():
    a = 25

    def inner_function():
        global a
        a = 40
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 40
a = 25
a = 40

In [4]:
def outer_function():
    global a
    a = 20

    def inner_function():
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 20
a = 20